@keyframes logo {

    0%,
    100% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-10deg);
    }
}

@keyframes btn1 {

    0%,
    100% {
        background: linear-gradient(var(--crimson), var(--black), var(--crimson));
        filter: hue-rotate(360deg);
    }

    50% {
        /* background: linear-gradient(var(--deeppink), var(--black), var(--deeppink)); */
        filter: hue-rotate(0deg);
    }
}