@media (max-width: 1400px) {
    .banner .content .box-1 h1 {
        font-size: 50px;
        text-transform: uppercase;
        padding: 10px 0;
    }

    /* pricing */
    .pricing .row column {
        width: 300px;
    }
}

/* ###########################
==>>  ( max-width: 1200px )
#############################*/
@media (max-width: 1200px) {
    header ul li {
        margin-left: 40px;
    }

    .banner .content .box-1 h1 {
        font-size: 40px;
    }

    .banner .content .box-1 h3 {
        font-size: 22px;
    }

    /* clock */
    .clock {
        width: 440px;
        height: 440px;
    }

    /* pricing */
    .pricing .row {
        padding: 0px 50px;
    }
    .pricing .row column {
        width: 270px;
    }
    .pricing .row column button {
        padding: 7px 70px;
        border-radius: 4px;
    }
}

/* ###########################
==>>  ( max-width: 1000px )
#############################*/
@media (max-width: 1000px) {
    header {
        padding: 10px 100px;
    }

    header ul li {
        margin-left: 30px;
    }

    .banner .content .box-1 h1 {
        font-size: 31px;
    }

    .banner .content .box-1 h3 {
        font-size: 20px;
    }

    .banner .content .box-1 p {
        font-size: 17px;
    }

    .banner .content .box-1 button {
        padding: 15px 40px;
    }

    .clock {
        width: 400px;
        height: 400px;
    }

    /* calender */
    .calender::before {
        width: 350px;
        height: 350px;
    }

    /* pricing */
    .pricing .row {
        padding: 0px 20px;
    }
    .pricing .row column {
        width: 270px;
    }
    
}

/* ###########################
==>>  ( max-width: 900px )
#############################*/
@media (max-width: 900px) {
    header {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        /* display: none; */
        width: 100%;
        height: 100%;
        position: fixed;
        top: 60px;
        left: 0;
        display: var(--flex);
        justify-content: var(--center);
        align-items: var(--center);
        flex-direction: column;
        background: var(--white);
    }

    header .navigation .nav {
        background: var(--red);

    }

    header .navigation li {
        display: block;
        padding: 10px 0px;
        text-align: var(--center);
    }

    header .navigation li a {
        color: var(--black);
        font-size: 20px;
    }

    .menuToggle {
        position: var(--relative);
        background: url(image/menu.png);
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        cursor: pointer;
        filter: invert(1);
    }

    .menuToggle.active {
        position: var(--relative);
        background: url(image/close.png);
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-size: 30px;
    }

    .sticky .menuToggle {
        filter: invert(0);
    }

    /* banner */
    .banner {
        width: 100%;
        min-height: 130vh;
    }

    .banner .content {
        padding: 0 20px;
    }

    .banner .content .box-1 {
        width: 100%;
        height: 55%;
    }

    .banner .content .box-1.box-2 {
        height: 45%;
        margin-top: 60px;
        display: var(--flex);
        justify-content: var(--center);
        align-items: var(--center);
    }

    .banner .content .box-1 h1 {
        font-size: 35px;
    }

    /* calender */
    .calender::before {
        width: 300px;
        height: 300px;
        transform: translate(-170px, -160px) !important;
    }
    
    .calender::after {
        width: 300px;
        height: 300px;
        transform: translate(170px, 160px) !important;
    }

    /* pricing */
    .pricing .row {
        padding: 0px 20px;
    }
    .pricing .row column {
        width: 210px;
    }
    .pricing .row column button {
        padding: 10px 50px;
    }
}

/* ###########################
==>>  ( max-width: 700px )
#############################*/
@media (max-width: 700px){
    /* pricing  */
    .pricing .row {
        padding: 0px 10px;
    }
    .pricing .row column {
        width: 150px;
    }
    .pricing .row column h1 {
        font-size: 20px;
    }
    .pricing .row column h2 {
        font-size: 18px;
    }
    .pricing .row column h3 {
        font-size: 16px;
    }
    .pricing .row column p {
        font-size: 14px;
    }
    .pricing .row column button {
        padding: 7px 20px;
        border-radius: 4px;
    }
}
/* ###########################
==>>  ( max-width: 550px )
#############################*/
@media (max-width: 550px) {
    header {
        padding: 10px 10px;
    }

    .banner .content .box-1 h1 {
        font-size: 31px;
    }

    .banner .content .box-1 p {
        font-size: 17px;
        line-height: 25px;
    }

    .clock {
        width: 350px;
        height: 350px;
    }

    /* calender */
    .calender .box .container {
        height: 430px;
        width: 350px;
    }
    .calender .box .container #dycalendar {
        padding: 10px;
    }
    .calender .box .container #dycalendar .dycalendar-prev-next-btn {
        padding: 10px 15px;
    }
    .calender .box .container #dycalendar .dycalendar-span-month-year {
        font-size: 20px;
    }

    /* pricing  */
    .pricing .row {
        padding: 0px 10px;
    }
    .pricing .row column {
        width: 100%;
        margin: 20px 0;
    }
    .pricing .row column h1 {
        font-size: 25px;
    }
    .pricing .row column h2 {
        font-size: 22px;
    }
    .pricing .row column h3 {
        font-size: 18px;
    }
    .pricing .row column p {
        font-size: 17px;
    }
    .pricing .row column button {
        padding: 7px 70px;
        border-radius: 4px;
    }
}

/* ###########################
==>>  ( max-width: 400px )
#############################*/
@media (max-width: 400px) {

    .banner {
        width: 100%;
        min-height: 120vh;
    }

    .banner .content .box-1 h1 {
        font-size: 23px;
    }

    .banner .content .box-1 h3 {
        font-size: 19px;
    }

    .banner .content .box-1 p {
        font-size: 14px;
        line-height: 22px;
    }

    .banner .content .box-1 button {
        padding: 15px 23px;
    }

    .clock {
        width: 270px;
        height: 270px;
    }

     /* calender */
     .calender .box .container {
        height: 430px;
        width: 320px;
    }
    .calender .box .container #dycalendar {
        padding: 10px;
    }
    .calender .box .container #dycalendar .dycalendar-prev-next-btn {
        padding: 10px 15px;
    }
    .calender .box .container #dycalendar .dycalendar-span-month-year {
        font-size: 20px;
    }
}