* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    /* comon */
    --center: center;

    /* coursor */
    --pointer: pointer;

    /* color */
    --crimson: crimson;
    --white: white;
    --black: black;
    --deeppink: deeppink;
    --yellow: yellow;
    --red: red;
    --indigo: indigo;

    /* font style */
    --bold: bold;

    /* transition */
    --transition0: 0.5s;
    --transition1: 1s;

    /* display */
    --flex: flex;
    --block: block;

    /* position */
    --absolute: absolute;
    --relative: relative;
    --fixed: fixed;
}


/* ##############################
------->  Header Section <---
###############################*/

header {
    position: var(--fixed);
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    z-index: 10000;
    display: var(--flex);
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header .logo {
    font-weight: bold;
    color: var(--crimson);
    font-size: 20px;
    font-family: cursive;
    display: var(--flex);
}

header .logo img {
    height: 70px;
    animation: logo 5s ease-in-out infinite;
}

header .logo h2 {
    padding-top: 16px;
    animation: color-hue 40s ease-in-out infinite;
}

header ul {
    position: var(--relative);
}

header ul li {
    display: inline-block;
    margin-left: 60px;
}

header ul li a {
    color: var(--white);
    font-weight: var(--bold);
}

header ul li a:hover {
    color: var(--crimson);
    transition: var(--transition0);
}

.sticky {
    background: var(--white);
}

.sticky a {
    color: var(--black);
}


/* ##############################
------->  Banner Section <---
###############################*/

.banner {
    position: var(--relative);
    width: 100%;
    min-height: 100vh;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    background: var(--black);
    color: var(--white);
    overflow: hidden;
}

.banner .content {
    display: var(--flex);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: var(--center);
    width: 100%;
    padding: 0 100px;
}

.banner .content .box-1 {
    width: 45%;
    height: 100%;
}

.banner .content .box-1 h1 {
    font-size: 60px;
    text-transform: uppercase;
    padding: 10px 0;
}

.banner .content .box-1 h3 {
    color: var(--crimson);
    text-transform: uppercase;
    font-size: 25px;
    animation: color-hue 30s ease-in-out infinite;
}

.banner .content .box-1 p {
    padding: 0px 0px 20px 0px;
    line-height: 30px;
    font-size: 19px;
    text-align: justify;
}

.banner .content .box-1 hr {
    border: none;
    height: 5px;
    background: var(--crimson);
    width: 20%;
    margin: 0px 0px 20px 0px;
}

.banner .content .box-1 button {
    padding: 15px 50px;
    font-weight: var(--bold);
    border: none;
    color: var(--white);
    animation: btn1 5s ease-in-out infinite;
}

.banner .content .box-1 button.btn {
    animation: btn1 10s ease-in-out infinite;
    animation-delay: 0.1s;
}



/* ##############################
-----> Banner Watch Section <---
###############################*/

.clock {
    width: 500px;
    height: 500px;
    display: var(--flex);
    align-items: var(--center);
    justify-content: var(--center);
    background-image: url(image/clock.png);
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
        0 15px 15px rgba(0, 0, 0, 0.4),
        inset 0 15px 15px rgba(0, 0, 0, 0.4);
}

.clock::before {
    content: '';
    position: var(--absolute);
    height: 15px;
    width: 15px;
    background: var(--white);
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: var(--absolute);
}

.clock .hour,
.hr {
    width: 160px;
    height: 160px;
}

.clock .min,
.mn {
    width: 190px;
    height: 190px;
}

.clock .sec,
.sc {
    width: 230px;
    height: 230px;
}

.hr,
.mn,
.sc {
    display: var(--flex);
    justify-content: var(--center);
    border-radius: 50%;

}

.hr::before {
    content: '';
    position: var(--absolute);
    width: 8px;
    height: 80px;
    background: var(--crimson);
    z-index: 10;
    border-radius: 6px 6px 0 0;

}

.mn::before {
    content: '';
    position: var(--absolute);
    width: 4px;
    height: 90px;
    background: var(--white);
    z-index: 11;
    border-radius: 6px 6px 0 0;

}

.sc::before {
    content: '';
    position: var(--absolute);
    width: 2px;
    height: 150px;
    background: var(--deeppink);
    z-index: 12;
    border-radius: 6px 6px 0 0;
}


/* ##############################
------->  Calender Section <---
###############################*/

.calender {
    position: var(--relative);
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    min-height: 100vh;
    background: var(--black);
    overflow: hidden;
}

.calender::before {
    content: '';
    position: var(--absolute);
    width: 400px;
    height: 400px;
    background: linear-gradient(var(--yellow), var(--crimson));
    border-radius: 50%;
    animation: calender-before 10s ease-in-out infinite;
}

.calender::after {
    content: '';
    position: var(--absolute);
    width: 350px;
    height: 350px;
    background: linear-gradient(var(--indigo), var(--crimson));
    border-radius: 50%;
    animation: calender-after 10s ease-in-out infinite;
}

.calender .box {
    position: var(--relative);
    z-index: 1000;
}

.calender .box .container {
    position: var(--relative);
    height: 450px;
    width: 400px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    animation: calender 10s ease-in-out infinite;
}

.calender .box .container #dycalendar {
    width: 100%;
    padding: 20px;
}

.calender .box .container #dycalendar table {
    width: 100%;
    padding-top: 40px;
    border-spacing: 5px;
}

.calender .box .container #dycalendar table tr:nth-child(1) td {
    background: var(--white);
    color: var(--black);
    font-weight: var(--bold);
    border-radius: 3px;
    padding: 10px 10px;
}

.calender .box .container #dycalendar table td {
    color: var(--white);
    padding: 10px 10px;
    text-align: var(--center);
}

.calender .box .container #dycalendar table td:hover {
    color: var(--black);
    background: var(--white);
    cursor: var(--pointer);
}

.calender .box .container #dycalendar table td.dycalendar-target-date {
    color: var(--white);
    background: var(--crimson);
    font-weight: var(--bold);
}

.calender .box .container #dycalendar .dycalendar-prev-next-btn {
    background: var(--white);
    color: var(--black);
    font-weight: var(--bold);
    padding: 10px 20px;
    border-radius: 3px;
}

.calender .box .container #dycalendar .dycalendar-span-month-year {
    color: var(--white);
    font-weight: var(--bold);
    font-size: 25px;
    padding: 10px 30px;
}